body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
}
.container {
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  /* background-color: aqua; */
  height: 90vw;
  width: 90vw;
  border: 2px solid black;
  border-radius: 9999px;

  display: flex;
  justify-content: center;
}

.jam,
.menit,
.detik {
  position: absolute;
  /* background-color: blue; */
  width: 20px;
  height: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.space-left {
  /* background-color: black; */
  width: 20px;
  height: 50vw;
}
.space {
  height: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 3vw;
}
.space div {
  /* background-color: red; */
  width: 30px;
  height: 30px;
}

.footer {
  font-size: small;
  position: absolute;
  bottom: 20px;
  /* background-color: blue; */
}

@media screen and (min-width: 768px)
{
  
  .container {
    height: 700px;
    font-size: 1.5rem;
  }
  .box {
    height: 600px;
    width: 600px;
  }
  .jam,
.menit,
.detik {
  position: absolute;
  /* background-color: blue; */
  width: 10px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.space-left {
  /* background-color: black; */
  width: 10px;
  height: 340px;
}
.space {
  height: 250px;
  gap: 17px;
  /* text-align: center; */
}

}
@media screen and (max-width: 480px)
{
  
  .container {
    height: 400px;
    font-size: 0  .8rem;
  }
  .box {
    height: 360px;
    width: 360px;
  }
  .jam,
.menit,
.detik {
  position: absolute;
  /* background-color: blue; */
  width: 10px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.space-left {
  /* background-color: black; */
  width: 10px;
  height: 220px;
}
.space {
  /* background-color: red; */
  height: 140px;
  gap: 3px;
}
.space div {
  /* background-color: red; */
  width: 20px;
  height: 20px;
}
.footer {
  bottom: -20vw;
}

}
